@model MyApp.Model.User

<div class="Forgot_Password-image container d-flex justify-content-center align--items-center vh-100">
    <form asp-action="Forgot_Password" method="post" autocomplete="off">
        <div class="mb-3">
            <label>Email: </label>
            <input asp-for="Email" type="email">
            <span asp-validation-for="Email" style="color:blue"></span>
        </div>
        
        <div class="mb-5">
            <button type="submit">Send OTP</button>
        </div>

    </form>
</div>