@model MyApp.Model.User
<div class=" Login-image container d-flex justify-content-center align-items-center vh-100">
    <div>
        <h2 class="text-center mb-4">Login</h2><br>
        <form asp-action="Login" method="post" autocomplete="off">
            <label>Email</label>
            <input asp-for="Email" type="email">
            <span asp-validation-for="Email" style="color:blue"></span>
            <br><br>

            <label>Password</label>
            <input asp-for="Password" type="password">
            <span asp-validation-for="Password" style="color:blue"></span>
            <br><br>

            <button type="submit">Login</button><br><br>

            <a asp-controller="Account" asp-action="Forgot_Password" style="color:blue">Forgot_Password</a>

        </form>
    </div>
</div>