@model MyApp.Model.User
<div class = " Register-image container d-flex justify-content-center align-items-center min-vh-100">  
    <div>
       <h2 class="text-center mb-4">Register</h2>
        <form asp-action="Register" method="post" autocomplete = "off">
            <label>Name:</label>
            <input asp-for="Name" />
            <span asp-validation-for="Name" style="color:red"></span>
            <br><br>

            <label>Email:</label>
            <input asp-for="Email" />
            <span asp-validation-for="Email" style="color:red"></span>
            <br><br>

            <label>Password:</label>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password" style="color:red"></span>
            <br><br>
            
            <label>Confirm Password:</label>
            <input asp-for="C_Password" type="password" />
            <span asp-validation-for="C_Password" style="color:red"></span>
            <br><br>

            <button type="submit">Register</button>
        </form>
    </div>
</div>