@model MyApp.Model.UserOtp

<div class="Otp-image container d-flex justify-content-center align-items-center vh-100">
    <form asp-action="Verify_Otp" method="post" autocomplete="off">
        <input type="hidden" asp-for="Email">

        <div class="mb-3">
            <label>Otp: </label>
            <input type="text" placeholder="Enter Otp">
            <span asp-validation-for="Otp" style="color:Blue"></span>
        </div>
            <br>
        <div class="text-align:center mb-3">
            <button type="submit">Verify</button>
        </div>
        
    </form>
</div>
