html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.Home-image {
    background-image: url('/images/Home_.jpg');
    background-size: cover;         /* fills the screen */
    background-position: center;    /* centers image */
    background-repeat: no-repeat;   /* avoid tiling */
    height: 100vh;                  /* full page height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 1px 1px 2px black;
}
.Login-image {
    background-image: url('/images/Login_.jpg');
    background-size: cover;         /* fills the screen */
    background-position: center;    /* centers image */
    background-repeat: no-repeat;   /* avoid tiling */
    height: 100vh;                  /* full page height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 1px 1px 2px black;
}
.Register-image {
    background-image: url('/images/Register_.jpg');
    background-size: cover;         /* fills the screen */
    background-position: center;    /* centers image */
    background-repeat: no-repeat;   /* avoid tiling */
    height: 100vh;                  /* full page height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 1px 1px 2px black;
}
.Webpage-image {
    background-image: url('/images/Webpage_.jpg');
    background-size: cover;         /* fills the screen */
    background-position: center;    /* centers image */
    background-repeat: no-repeat;   /* avoid tiling */
    height: 100vh;                  /* full page height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 1px 1px 2px black;
}

.Forgot_Password-image {
    background-image: url('/images/FP_.jpg');
    background-size: cover;         /* fills the screen */
    background-position: center;    /* centers image */
    background-repeat: no-repeat;   /* avoid tiling */
    height: 100vh;                  /* full page height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 1px 1px 2px black;
}

.Otp-image {
    background-image: url('/images/Otp_.jpg');
    background-size: cover;         /* fills the screen */
    background-position: center;    /* centers image */
    background-repeat: no-repeat;   /* avoid tiling */
    height: 100vh;                  /* full page height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 1px 1px 2px black;
}